body {
    font-family: sans-serif;
    margin: 0 50px;
}

.container {
    display: flex;
    gap: 150px;
}

#task {
    width: 400px;
}


#task div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 25px;

}

i {
    cursor: pointer;
}

.right table-striped thead tr th {
    margin: 5px;
}